.image {
    opacity: 0.8;
    width: 100%;
    height: 160px;
    background-position: center center;
    display: inline-block;
    cursor:pointer;
    border: 2px solid #B5B9D0;
}
.image:hover{
    opacity: 1;
}

.radio-img input {
    display:none;
}
input:checked + .image{
    border:2px solid orange;
}

@media only screen and (max-width: 1199px) {
    .image {
        width: 180px !important;
        height: 160px !important;
    }
}

@media only screen and (max-width: 991px) {
    .image {
        width: 100px !important;
        height: 110px !important;
    }
}

@media only screen and (max-width: 767px) {
    .image {
        width: 55px !important;
        height: 60px !important;
    }
}

@media only screen and (max-width: 400px) {
    .image {
        width: 50px !important;
        height: 55px !important;
    }
}
